@import "../variables";

.BasketProduct {
  .card-container {
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    font-size: 0.875rem;
    color: white;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5 rem;
  }

  .name::first-letter {
    text-transform: capitalize;
  }

  .trash {
    cursor: pointer;
  }
}
