@import "../variables";

.basket_container {
  .basket {
    position: fixed;
    right: 2rem;
    top: 0.9375rem;
    color: $clr-primary-3;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: $clr-primary-5;
    }
  }

  .basket-in-nav {
    color: $clr-primary-3;
    font-size: 2rem;
    cursor: pointer;
  }

  .basket-div {
    min-height: 20rem;
    min-width: 20rem;
    max-width: 30rem;
    background: $clr-primary-3;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    padding: 1rem 1rem 0;
    border-bottom-left-radius: 20px;
    transition: $transition;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    color: $clr-white;

    i {
      color: $clr-primary-3;
    }

    p {
      color: $clr-white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: $spacing;
      text-align: center;
    }
  }

  .basket-div-open {
    transform: translateX(0);
  }

  .basket-div-closed {
    transform: translateX(100%);
  }

  .basket-div-close-btn {
    text-align: right;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.75rem;
  }
  .basket-div-close-btn i {
    cursor: pointer;
    color: $clr-primary-8;
  }

  .order {
    background: $clr-primary-4;

    a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .order-or-remove {
    display: flex;

    button {
      width: 50%;
      text-transform: capitalize;
      color: white;
      letter-spacing: 0.15rem;
      padding: 1rem 0;
      cursor: pointer;
      font-size: 0.875rem;
    }
  }

  .removeAll {
    background: $clr-primary-2;
  }

  .total-value {
    color: $clr-primary-6;
    margin-top: 1rem;
  }

}

@media screen and (min-width: 768px) {
  .basket_container {
    .basket {
      font-size: 2.5rem;
    }
  }
}
