@import "../variables";

.CustomerHistory {
  .order-headers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .order-details-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h3 {
    text-align: center;
  }

  .container {
    display: grid;
    // grid-template-colums: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 0.5rem;
    padding: 0.5rem;

    .loading{
      text-align: center;
    }
  }

  input::placeholder {
    color: grey;
  }

  .number {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: $clr-primary-5;
    color: white;
    border-radius: 50%;
    text-align: center;
  }

  article {
    margin-bottom: 0.5rem;
  }
}
