@import "../variables";

.DishCard {
  background: $clr-primary-10;
  text-align: center;
  .cardInfo {
    padding: 1rem 0.25rem;
  }

  .cardInfo_options {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  
  .cardInfo_choice button:nth-child(1) {
    margin-right: 0.5rem;
  }

  .intersection{
    transition: all .5s linear;
  }

  .visible {
    transform: scale(1);
  }
  
  .not-visible{
    transform: scale(0.3);
  }

  .plus-minus-button {
    cursor: pointer;

    &:disabled{
      cursor: auto;
    }
  }

}
