@import "../variables";
@import "../mixins";

.FrontImage {
  margin-top: 100px;

  .photo {
    @include calc(height, "100vh - 100px");
    position: relative;

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      padding: 20vh 0 2rem;
    }

    h2 {
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    img {
      opacity: 0.5;
      object-fit: cover;
      height: 100%;
    }
  }

  .slides {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: flex;
    background: transparent;
    justify-content: center;
  }

  .slider {
    height: 2rem;
    width: 2rem;
    border: 3px solid white;
    margin: 0 1rem;
    cursor: pointer;
  }

  .activeSlider {
    background: $clr-primary-3;
  }
}

@media screen and (min-width: 992px) {
  .FrontImage {
    .slider {
      width: 2rem;
      height: 2rem;
    }
  }
}
