@import "../variables";

.LoginModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3rem;
    cursor: pointer;
  }
}
