@import "../variables";

.MainInfo {
    margin: 0 auto;
    background: $clr-grey-10;

    .info {
      padding: 1rem;
      background: white;
      text-align: center;
      border-radius: $radius;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .info-title {
      text-transform: uppercase;
      padding: 1rem 0;
    }

    .details-div {
      display: flex;
      align-items: center;
      line-height: 1;
      justify-content: center;
    }

    .details_svg {
      cursor: pointer;
      margin: 0 6px;
      font-weight: bold;
    }

    .details_arrow {
      cursor: pointer;
      font-weight: bold;
    }

    .details ul li {
      text-align: left;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    .contact-details {
      list-style: none;
    }
  }

  @media screen and (min-width: 768px) {
    .MainInfo {
      .section-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .info {
      min-width: 300px;
    }
  }